
/*mobile-first*/

@media screen and (min-width: 675px) {
    body {
        background-color: purple;
    }
}
@media screen and (min-width: 999px) {
    body {
        background-color: blue;
    }
}
@media screen and (min-width: 1280px) {
    body {
        background-color: teal;
    }
}

/*desktop-first*/

@media screen and (max-width: 1080px) {
    body {
        background-color: pink;
    }
}
@media screen and (max-width: 550px) {
    body {
        background-color: yellow;
    }
}
@media screen and (max-width: 400px) {
    body {
        background-color: orange;
    }
}
